In [3]:
# STEP 1: Data Acquisition

import os
import pandas as pd
import numpy as np

# Check working directory and CSV availability
print("Notebook working directory:", os.getcwd())
print("CSV exists (relative):", os.path.exists('netflix_titles.csv'))
print("CSV absolute path exists:", os.path.exists('/Users/imran/Desktop/Nouveau dossier (2)/netflixandtvshows/netflix_titles.csv'))

# Load the dataset (use relative path if available, otherwise fall back to absolute)
try:
    csv_path = 'netflix_titles.csv'
    if not os.path.exists(csv_path):
        csv_path = '/Users/imran/Desktop/Nouveau dossier (2)/netflixandtvshows/netflix_titles.csv'
    df = pd.read_csv(csv_path)
    print("Dataset loaded successfully.")
    print(f"Dimensions: {df.shape}")
except FileNotFoundError:
    print("Error: 'netflix_titles.csv' not found at either path.")
    df = pd.DataFrame()

Notebook working directory: c:\Users\imran\Desktop\Nouveau dossier (2)\netflixandtvshows
CSV exists (relative): True
CSV absolute path exists: True
Dataset loaded successfully.
Dimensions: (8807, 12)

In [2]:
# Affichage des premières lignes
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [8]:
# Dimensions du dataset
print("(lignes, colonnes):", df.shape)

(lignes, colonnes): (8807, 12)

In [9]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

| Colonne        | Signification                          |
| -------------- | -------------------------------------- |
| `show_id`      | Identifiant unique du contenu          |
| `type`         | Type de contenu (`Movie` ou `TV Show`) |
| `title`        | Titre du film ou de la série           |
| `director`     | Réalisateur                            |
| `cast`         | Acteurs principaux                     |
| `country`      | Pays de production                     |
| `date_added`   | Date d’ajout sur Netflix               |
| `release_year` | Année de sortie                        |
| `rating`       | Classification d’âge                   |
| `duration`     | Durée (minutes ou saisons)             |
| `listed_in`    | Genres / catégories                    |
| `description`  | Résumé du contenu                      |

Cible : rating
Objectif : prédire la classification d’âge

Types de données

In [10]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

Variables catégorielles : type, rating, country, listed_in

Variables textuelles : title, description, cast, director

Variables temporelles : date_added, release_year

Nombres de valeurs manquantes

In [12]:
df.isnull().sum().sort_values(ascending=False)

director        2634
country          831
cast             825
date_added        10
rating             4
duration           3
show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
dtype: int64

Nombres de valeurs manquantes en pourcentage

In [11]:
(df.isnull().mean() * 100).round(2)

show_id          0.00
type             0.00
title            0.00
director        29.91
cast             9.37
country          9.44
date_added       0.11
release_year     0.00
rating           0.05
duration         0.03
listed_in        0.00
description      0.00
dtype: float64

Aperçu global des données d'un point de vue statisques

In [ ]:
df.describe(include="all")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s8807,Movie,Zubaan,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN